<!-- MAKE AN APPOINTMENT -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Stylesheet, Font and Scripts-->
        <link rel="icon" type="image/png" href="/img/logo.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/Mediko_Style.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



        <title>New Password</title>
    </head>
    <body class="bg-login-register">
        <div class="container">
            <div class="row">

                <div class="col-xl-6">
                    <div class="cont-titles">
                        <img src="/img/logo.png" alt="MediKo Logo"  class="image-logo"/>
                        <br>
                        <br>
                        
                        <h1><b style="color:#fca311;">Welcome to <br><span  style="color:#fca311;">Room Utilization With Conflict Detection</span> </b></h1>
                        <br>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="cont-form" >
                        <h3><b>Create New Password</b></h3>
                        <br>
              
                     <form id="appointment-form" role="form" method="post" action="/authenticate/forget/<%=token%>">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="form-group">
                            <label>Enter New Password</label>
                            <input type="password" name="newpassword" placeholder="New Password" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" name="confirmpassword" placeholder="Confirm New Password" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn bg-btn" style="background-color: #400000;"  id="cf-submit">Change Password</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
     
    </body>
</html>
